[submodule "machyapi/libs/json"]
	path = machyapi/libs/json
	url = git@github.com:nlohmann/json.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/eigen"]
	path = vendor/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/eigen"]
	path = libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "machyvision/libs/darknet"]
	path = machyvision/libs/darknet
	url = https://github.com/AlexeyAB/darknet.git
[submodule "machypose/libs/ORB_SLAM3"]
	path = machypose/libs/ORB_SLAM3
	url = https://github.com/UZ-SLAMLab/ORB_SLAM3.git
[submodule "machypose/libs/Pangolin"]
	path = machypose/libs/Pangolin
	url = https://github.com/stevenlovegrove/Pangolin.git
[submodule "libs/machyapi/libs/json"]
	path = libs/machyapi/libs/json
	url = git@github.com:nlohmann/json.git
